:root {
    --primary-color: #e14e6f;
    --secondary-color: #57b2b0;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
.ul{
    counter-reset: ul;
}
.ul .li{
    counter-increment: ul;
    margin-bottom: 20px;
}
.ul .li::before{
    content: 'Battle #' counter(ul);
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.sub-ul{
    display: flex;
}
.sub-li{
    margin-right: 20px;
}